demo-asyncscope/target/classes/demo-asyncscope.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2742ec21-a31f-4cb2-bf10-328663df470e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo-asyncscopeFlow" doc:id="58849821-8db4-426c-9a85-81a4af217861" >
		<http:listener doc:name="Listener" doc:id="92698973-c1c3-4d0d-8038-fa7deebe7c2d" config-ref="HTTP_Listener_config" path="/demoAsync"/>
		<logger level="INFO" doc:name="Logger" doc:id="a2db2118-44be-4655-99a9-5443a3f43380" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="439ad432-820d-435d-8771-ecf02a47eb5b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (items,index) ->
{
	pid:items.id,
	pname:items.name
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<try doc:name="Try" doc:id="f2f41457-e9d3-4d39-988c-584fa5b3d8f7" >
			<async doc:name="Async" doc:id="518f0792-cdb2-4f1f-86f2-8ed2c27fbc24" >
				<ee:transform doc:name="Transform Message" doc:id="2fb45adf-3f39-4ab4-a792-f6d888ae2b10" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
	payload map(items,index)->
	{
		plid:items.pid,
		plname: "MR" ++ " " ++ (items.pname)
	}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[payload.plid]" doc:name="Set Variable" doc:id="82865d9f-f4a3-445d-a789-4b928d56b553" variableName="playername"/>
				<logger level="INFO" doc:name="Logger" doc:id="a4251607-9c16-4a25-a15c-40858e4195ba" message="into the Async logging ------&gt; #[payload]" />
			</async>
		</try>
		<ee:transform doc:name="Transform Message" doc:id="6a490666-0c52-4608-a065-e76a3ef45dc6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="40ae7741-b459-43bb-8897-899f75cc1326" message="#[payload]"/>
	</flow>
</mule>
